<template>
  <ul class="home">
    <list-item v-for="poll in polls" :key="poll.id" :poll="poll"/>
  </ul>
</template>

<script>
import ListItem from "@/components/ListItem";
import axios from "axios";

export default {
  name: 'home',
  components: {
    ListItem
  },
  data: function() {
    return {
      polls: []
    }
  },
  mounted: function() {
    axios.get("http://127.0.0.1:3000/polls")
      .then((response) => this.polls = response.data)
  }
}
</script>
