<template>

</template>

<script>
import axios from "axios";

export default {
  name: 'poll',
  components: {
  },
  data: function() {
    return {
      poll: Object,
      pollId: this.$route.params.id
    }
  },
  mounted: function() {
    axios.get(`http://127.0.0.1:3000/polls/${this.pollId}?_embed=answers`)
      .then((response) => this.poll = response.data)
  }
}
</script>
